body {
  background-color: #FAF7F0 !important;
}

.title {
  margin-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.05em;
  font-family: "Libre Baskerville", serif
}

.card {
  border: 2px solid #333333;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #F5E6CC;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 700;
}

.card-body {
  font-size: 1rem;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.card-block {
  padding: 1.5rem;
}


.btn {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #007bff;
  color: beige;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.carousel {
  border-radius: 0.75rem;
  overflow: hidden;
}

.carousel img {
  border-radius: 0.75rem;
  object-fit: cover;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}

.carousel-indicators .active {
  background-color: #007bff;
  max-width: 12px;
  height: 12px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
  padding: 0.3rem;
}

.container {
  margin-top: 1rem;
}

/* Icon styling */
.fab {
  transition: transform 0.2s ease-in-out;
}

.fab:hover {
  transform: scale(1.2);
}

/* Title styling */
.title {
  color: #1C1F4A;
  margin-bottom: 2rem;
}
