body {
  background-color: #F7F7F7; /* Light Grey Background */
  color: #333333; /* Dark Grey Text */
  font-family: 'Libre Baskerville', serif;
}

.banner {
  background-image: url('path-to-your-image.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333333;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #333333;
}

.btn-outline-light {
  border-color: #008080 !important;
  background-color: #E0F4F1 !important;
  color: #1C1F4A !important;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background-color: #1C1F4A !important;
  color: white !important;
  border-color: #1C1F4A;
  transform: scale(1.05);
}

footer {
  background-color: #E6E6E6;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

footer a {/* Charcoal Text */
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
