* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bg-image {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAF7F0 !important;
  font-family: 'Libre Baskerville', serif;
}

.jumbotron-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  margin-bottom: 0;
}

footer {
  background-color: #FFECC8;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
